<h2>Listado de Clínicas</h2>

<table class="tabla">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let c of clinicas">
      <td>{{ c.id }}</td>
      <td>{{ c.nombre }}</td>
      <td>{{ c.direccion }}</td>
      <td>{{ c.telefono }}</td>

      <td>
        <a [routerLink]="['/ver', c.id]" class="btn-ver">Ver</a>
        <a [routerLink]="['/editar', c.id]" class="btn-editar">Editar</a>
        <button (click)="eliminarClinica(c.id)" class="btn-eliminar">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
